<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Twitinerary</title>
    <link rel="stylesheet" type="text/css" media="screen" href="{{ MEDIA_URL }}stylesheets/main.css" />
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/notifier.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/tweeter.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}javascripts/init.js"></script>
  </head>

  <body>
    <div id="notifier">
      <p></p>
      <input id="dismiss-notification" type="button" value="OK" />
    </div>

    <h1><a href="{% url twitinerary.views.tweets.home %}">Twitinerary</a></h1>

    <p>
    {% if request.user.is_authenticated %}
      Signed in as @{{ request.user.username }}.
      (<a href="{% url twitinerary.views.user.logout %}">Sign out</a>)
      (<a href="{% url twitinerary.views.tweets.view %}">Review Tweets</a>)
    {% else %}
      Not signed in.
    {% endif %}
    </p>
    
    {% block content %}{% endblock %}
  </body>
</html>
