{% extends "base.html" %}
{% block content %}
  {% if not request.user.is_authenticated %}
    <ol>
      <li><a href="{% url twitinerary.views.oauth.authenticate %}">Authenticate with Twitter</a>.</li>
    </ol>
  {% else %}
    <div id="tabs">
      <ul>
        <li><a id="new_tweet_tab" title="Schedule new Tweet"
          href="{% url twitinerary.views.tweets.new %}">Schedule new Tweet</a></li>
        <li><a id="view_tweets_tab" title="View Tweets"
          href="{% url twitinerary.views.tweets.view %}">View Tweets</a></li>
      </ul>
    </div>
    <p id="next-scheduled-tweet"></p>
  {% endif %}
{% endblock %}
