{% extends "base.html" %}
{% block content %}
  {% if not request.user.is_authenticated %}
    <ol>
      <li><a href="{% url twitinerary.views.tweets.oauth %}">Authenticate with Twitter</a>.</li>
    </ol>
  {% else %}
    <form id="new-tweet" action="{% url twitinerary.views.tweets.new %}" method="post">
      <ol>
        <li>
          <p>Enter your Tweet.</p>
          <textarea name="tweet" cols="40" rows="2">Tweet.</textarea>
        </li>

        <li>
          <p>When do you want it posted?</p>
          <p>
            <select name="date">
            {% for day in days %}
              <option value="{{ day|date:"Ymd" }}">{{ day }}</option>
            {% endfor %}
            </select>
            at
            <input name="hour" type="text" value="8" size="2" />:<input name="minute"
              type="text" value="00" size="2">
            <select name="period">
              <option value="am">a.m.</option>
              <option value="pm">p.m.</option>
            </select>
            {# post_at calculated dynamically via Javascript prior to form submission. #}
            <input name="post_at" type="hidden" />
          </p>
        </li>
      </ol>
      <p><input type="submit" value="Schedule it!" /></p>
    </form>

    <form id="url-shortener">
      <input type="text" id="long-url" value="URL to shorten ..." /><input type="submit" value="Shorten URL" />
    </form>
  {% endif %}

  <ul>
  {% for tweet in tweets %}
    <li>[{{ tweet.user.username }}] [{{ tweet.post_at }}] {{ tweet.tweet }}</li>
  {% endfor %}
  </ul>
{% endblock %}
