{% extends "base.html" %}
{% block content %}
  {% if not request.user.is_authenticated %}
    <ol>
      <li><a href="{% url twitinerary.views.oauth.authenticate %}">Authenticate with Twitter</a>.</li>
    </ol>
  {% else %}
    <div id="tabs">
      <ul>
        <li><a id="schedule_tweet"
          href="{% url twitinerary.views.tweets.schedule_tweet %}">Schedule new Tweet</a></li>
        <li><a id="view_tweets"
          href="{% url twitinerary.views.tweets.view %}">View Tweets</a></li>
      </ul>
    </div>
  {% endif %}

  <ul>
  {% for tweet in tweets %}
    <li>[{{ tweet.user.username }}] [{{ tweet.post_at }}] {{ tweet.tweet }}</li>
  {% endfor %}
  </ul>
{% endblock %}
