<form class="tweet-form" action="{% url twitinerary.views.tweets.save %}" method="post">
  <ol>
    <li>
      <p>Enter your Tweet.</p>
      <textarea name="tweet" cols="40" rows="2">{{ tweet.tweet }}</textarea>
      <span class="tweet-char-counter"></span>
    </li>

    <li>
      <p>When do you want it posted?</p>
      <p>
        <div class="day-chooser">
          <input name="today" type="button" value="Today" />
          <input name="tomorrow" type="button" value="Tomorrow" />
          <input name="another_day" type="button" value="Another day" />
          <div class="date-picker-calendar"></div>
        </div>
        at
        <input name="hours" type="text" size="2" maxlength="2" />:<input
          name="minutes" type="text" size="2" maxlength="2" />
        <select name="period">
          <option value="am">a.m.</option>
          <option value="pm">p.m.</option>
        </select>

        <span class="explanation">All times are local time, so don't worry about time zones.</span>

        {# post_at calculated dynamically via Javascript prior to form submission. #}
        <input name="post_at" type="hidden" value="{{ tweet.post_at|date:"U" }}" />
      </p>
    </li>
  </ol>
  <input name="key" type="hidden" value="{{ tweet.key }}" />
  {% block tweet_form_postamble %}{% endblock %}
</form>

<div class="url-shortener-container">
  <input class="url-shortener-activator" type="button" value="Shorten URL" />
  <form class="url-shortener" style="display: none">
    <input name="long_url" type="text" value="URL to shorten ..." /><input type="submit"
    value="Shorten URL" />
  </form>
</div>

<div class="image-uploader-container">
  <input class="image-uploader-activator" type="button" value="Upload image" />

  <form class="twitter-password" style="display: none">
    <input name="password" type="password" />
    <input type="submit" value="Sign in" />
    <span class="explanation">
      We need your Twitter password so we can give it to TwitPic. If
      you do not want us to know your password, you can
      <a href="http://twitpic.com/" target="_blank">use TwitPic directly</a>,
      then copy and paste your image URLs into us.
    </span>
  </form>

  <form class="image-uploader" action="{% url twitinerary.views.image_uploader.upload_image %}"
    method="post" enctype="multipart/form-data" style="display: none">
    <input name="username" type="hidden" value="{{ request.user.username }}" />
    <input name="password" type="hidden" value="" />
    <input name="media" type="file" name="media" />
    <input type="submit" value="Upload image" />
  </form>
</div>
