{% if tweets %}
  <table>
    <tr><th>Time</th><th>Tweet</th></tr>
  {% for tweet in tweets %}
    <tr>
      <td><span class="datetime">{{ tweet.post_at|date:"U" }}</span></td>
      <td>
        {{ tweet.tweet|urlize }}
        <form class="tweet-editor" action="{% url twitinerary.views.tweets.edit %}" method="get">
          <input name="key" type="hidden" value="{{ tweet.key }}" />
          <input type="submit" value="Edit" />
        </form>
        <form class="tweet-deleter" action="{% url twitinerary.views.tweets.delete %}" method="post">
          <input name="key" type="hidden" value="{{ tweet.key }}" />
          <input type="submit" value="Delete" />
        </form>
      </td>
    </tr>
  {% endfor %}
  </table>
{% else %}
  <p>You haven't scheduled any Tweets.</p>
{% endif %}
