{% extends "base.html" %}
{% block content %}
  {% if tweets %}
    <table>
      <tr><th>Time</th><th>Tweet</th></tr>
    {% for tweet in tweets %}
      <tr>
        <td>{{ tweet.post_at }}</td>
        <td>
          {{ tweet.tweet }}
          <form action="{% url twitinerary.views.delete %}" method="post">
            <input name="key" type="hidden" value="{{ tweet.key }}" />
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>You haven't scheduled any Tweets.</p>
  {% endif %}
{% endblock %}
